<div class="container">
	<form action="/login" method="POST">
		<label>Username: </label>
			<input type="text" name="name">
		<label>Password: </label>
			<input type="password" name="password">
			<input type="submit" value="Login">
	</form>  
	<%if @error%>
		<h3 class="errors">Invalid username/password</h3>
		<%end%>
  <a href="/new">Add Photo</a>

  <%if @photos %>
  	<%@photos.each do |photo|%>
  		<img src="<%=photo.photo%>">
  		<%if photo.user%>
  			<p class="author">By <%=photo.user.name%></p>
  		<%end%>
  	<%end%>
  <%end%>
</div>
