<div class="container">
  <form enctype="multipart/form-data" action="/new/photo" method="POST">
    <label>Name: <input type="text" name="photo[name]"></label>
    <br>
    <label>Photo: <input type="file" name="photo[photo]"></label>
    <br>
    <input type="submit">
  </form>
</div>